:root {
  --font-family: inter, system-ui, avenir, helvetica, arial, sans-serif;
  --font-weight: 400;
  --line-height: 1.5;
  --text-color: rgb(255 255 255 / 87%);
  --color-scheme: light dark;
  --background-color: #242424;
}

body {
  display: flex;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--text-color);
  color-scheme: var(--color-scheme);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

a {
  --link-font-weight: 500;
  --link-color: #646cff;
  --link-hover-color: #535bf2;

  font-weight: var(--link-font-weight);
  color: var(--link-color);
  text-decoration: inherit;

  &:hover {
    color: var(--link-hover-color);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  padding: 0.6em 1.2em;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
